.slider {
    display: flex !important;
    width: 80vw;
    flex-direction: row ;
    align-items: center ;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.heading {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    font-weight: 500;
}

.slider_image > h3 {
    text-align: center;  
    margin-top: 10px;
}

.slide_content > p {
    line-height: 200%;
    margin: 0 40px;
    width: 50vw;
}

@media only screen and (max-width: 720px) {
    .slider_image {
        margin-bottom: 20px;
    }
  }


